.basket {

}

.header, .address {
  background-color: var(--main-red);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 9px 11px 10px;
}

.address {
  background-color: #F5D66F;
  color: #000;
  font-weight: 400;
}

.content {
  border: 1px solid #DCDCDC;
  border-radius: 0 0 4px 4px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 11px;

  strong {
    font-size: 12px;
    margin-left: 10px;
  }
}