.header {
  background-color: #AB0012;
  padding: 21px 0;
  position: sticky;
  top: 0;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.headerInner {
  max-width: 1010px;
  margin: 0 auto;
}